#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Cable
Comment=A PyQt5 application to dynamically modify Pipewire and Wireplumber settings
Exec=cable
Icon=jack-plug
Terminal=false
Type=Application
Categories=Utility;
