[Desktop Entry]
StartupWMClass=cable
Name=Cable
Comment=Dynamically modify Pipewire and Wireplumber settings
Exec=cable %u
Icon=jack-plug
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;
