[Desktop Entry]
StartupWMClass=cable
Name=Cable
Comment=A PyQt5 application to dynamically modify Pipewire and Wireplumber settings
Exec=cable %u
Icon=jack-plug
Terminal=false
Type=Application
Categories=Utility;
